USE [master]
GO
/****** Object:  Database [LOG_REGSYSTEM]    Script Date: 6/18/2025 7:01:46 PM ******/
CREATE DATABASE [LOG_REGSYSTEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LOG_REGSYSTEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LOG_REGSYSTEM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LOG_REGSYSTEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LOG_REGSYSTEM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LOG_REGSYSTEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LOG_REGSYSTEM]
GO
/****** Object:  Table [dbo].[tbluser_reg]    Script Date: 6/18/2025 7:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbluser_reg](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [nchar](10) NOT NULL,
	[lastname] [nchar](10) NOT NULL,
	[email] [nchar](30) NOT NULL,
	[password] [nchar](100) NOT NULL,
	[age] [int] NOT NULL,
 CONSTRAINT [PK_tbluser_reg] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
